name: Deploy Cloudflare Worker

on:
  push:
    branches: [main]
  release:
    types: [published]

jobs:
  changes:
    name: Check for changes
    runs-on: ubuntu-latest
    outputs:
      common: ${{ steps.set-outputs.outputs.common }}
      miniapp: ${{ steps.set-outputs.outputs.miniapp  }}
      api: ${{ steps.set-outputs.outputs.api }}
      database: ${{ steps.set-outputs.outputs.database }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            common:
              - '.github/workflows/*'
              - 'pnpm-lock.yaml'
              - 'packages/000_env/env.jsonc.enc'
            miniapp:
              - 'packages/011_miniapp/**'
              - 'packages/001_client-common/**'
              - 'packages/003_evm-contracts/**'
            api:
              - 'packages/012_api/**'
              - 'packages/002_server-common/**'
              - 'packages/003_evm-contracts/**'
              - 'packages/014_database/**'
            database:
              - 'packages/014_database/**'

      - name: Set outputs based on event type
        id: set-outputs
        run: |
          if [ "${{ github.event_name }}" = "release" ]; then
            echo "common=true" >> $GITHUB_OUTPUT
            echo "miniapp=true" >> $GITHUB_OUTPUT
            echo "api=true" >> $GITHUB_OUTPUT
            echo "database=true" >> $GITHUB_OUTPUT
          
          else
            echo "common=${{ steps.filter.outputs.common }}" >> $GITHUB_OUTPUT
            echo "miniapp=${{ steps.filter.outputs.miniapp }}" >> $GITHUB_OUTPUT
            echo "api=${{ steps.filter.outputs.api }}" >> $GITHUB_OUTPUT
            echo "database=${{ steps.filter.outputs.database }}" >> $GITHUB_OUTPUT
          
          fi

  prepare-pnpm-cache:
    name: Prepare PNPM Cache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.0.0

      - name: Get pnpm store directory
        id: pnpm-store-dir-path
        shell: bash
        run: |
          echo "dir=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Restore pnpm store cache
        uses: actions/cache@v4
        id: pnpm-store-cache
        with:
          path: ${{ steps.pnpm-store-dir-path.outputs.dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies (prepare cache)
        run: pnpm install --frozen-lockfile

      - name: Save pnpm store cache
        if: steps.pnpm-store-cache.outputs.cache-hit != 'true'
        uses: actions/cache@v4
        with:
          path: ${{ steps.pnpm-store-dir-path.outputs.dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}

  deploy-services:
    name: Deploy Services
    needs: [changes]
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        include:
          - service: database
            name: "@hl/database"
            directory: packages/014_database
            condition: ${{ needs.changes.outputs.common == 'true' || needs.changes.outputs.database == 'true' }}

          - service: api
            name: "@hl/api"
            directory: packages/012_api
            condition: ${{ needs.changes.outputs.common == 'true' || needs.changes.outputs.api == 'true' }}

          - service: miniapp
            name: "@hl/miniapp"
            directory: packages/011_miniapp
            condition: ${{ needs.changes.outputs.common == 'true' || needs.changes.outputs.miniapp == 'true' }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        if: ${{ matrix.condition }}
        with:
          node-version: 24

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        if: ${{ matrix.condition }}
        with:
          version: 9.0.0

      - name: Get pnpm store directory
        if: ${{ matrix.condition }}
        id: pnpm-store-dir-path
        shell: bash
        run: |
          echo "dir=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Restore pnpm store cache
        if: ${{ matrix.condition }}
        uses: actions/cache@v4
        with:
          path: ${{ steps.pnpm-store-dir-path.outputs.dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies via pnpm
        if: ${{ matrix.condition }}
        run: pnpm install --frozen-lockfile

      - name: Write decrypt.pem file
        if: ${{ matrix.condition }}
        run: |
          echo "${{ secrets.DECRYPT_PEM }}" > packages/000_env/decrypt.pem
          pnpm :env decrypt

      - name: Set environment variables
        if: ${{ matrix.condition }}
        run: |
          if [ "${{ github.event_name }}" = "release" ]; then
            pnpm :env run ci production
          else
            pnpm :env run ci staging
          fi

      - name: Deploy ${{ matrix.service }}
        if: ${{ matrix.condition }}
        working-directory: ${{ matrix.directory }}
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        run: |
          if [ "${{ github.event_name }}" = "release" ]; then
            pnpm run deploy:production
          else
            pnpm run deploy:staging
          fi

  create-release:
    name: Create Production Release Draft
    needs: [changes, deploy-services]
    runs-on: ubuntu-latest
    # always run this job, but fail if any of the dependent jobs failed (not skipped)
    if: ${{ always() && !contains(join(needs.*.result, ','), 'fail') && github.event_name != 'release' }}
    permissions:
      contents: write
    steps:
      - name: Create GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.DEPLOY_BOT_ID }}
          private-key: ${{ secrets.DEPLOY_BOT_SECRET }}
          owner: ${{ github.repository_owner }}

      - name: Create Release Tag
        id: create-release-tag
        run: echo "tag_name=r-$(printf %06d $GITHUB_RUN_NUMBER)" >> $GITHUB_OUTPUT

      - name: Create Draft Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.create-release-tag.outputs.tag_name }}
          name: Release ${{ steps.create-release-tag.outputs.tag_name }}
          generate_release_notes: true
          draft: ${{ !contains(github.event.head_commit.message, 'CHECKED') }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

